:root {
  --bg: #ecf0f3;
  --light: white;
  --shadow: #cbced1;
}

body {
  background-color: var(--bg);
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
